<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['']">Menu</a>
  <ul class="navbar-nav">
    <li *ngIf="!isSignedIn()" class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Sign In</a>
    </li>
    <li *ngIf="isSignedIn() && isAdmin()" class="nav-item">
      <a class="nav-link" [routerLink]="['/user-registration']">Add User</a>
    </li>
    <li *ngIf="isSignedIn() && isAdmin()" class="nav-item">
      <a class="nav-link" [routerLink]="['/user-list']">Users</a>
    </li>
    <li *ngIf="isSignedIn() && isAdmin()" class="nav-item">
      <a class="nav-link" [routerLink]="['/product-registration']">Add Product</a>
    </li>
    <li *ngIf="isSignedIn()" class="nav-item">
      <a class="nav-link" [routerLink]="['/product-list']">Products</a>
    </li>
    <li *ngIf="isSignedIn() && isAdmin()" class="nav-item">
      <a class="nav-link" [routerLink]="['/stats']">Stats</a>
    </li>
    <li *ngIf="isSignedIn()" class="nav-item">
      <a class="nav-link button-pointer" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>
